{% extends 'main/base.html' %}
{% load i18n %}


<head>
    <title>{% block title %} {% trans 'О нас' %} {% endblock %}</title>
</head>
<body>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}" />
</body>

{% block body %} 

<h2> О нас:</h2>
<img src="{% static 'main/img/man_reader.jpg' %}" alt="Логотип" style="width:auto;height:150px">
<aside>
    <h3> {% trans 'Портал самых честных новостей' %} </h3>
    <div style="text-align:justify;">
        <p> {% trans 'Лицензия СМИ: отсутствует' %}</p>
        <p> {% trans 'Юридический адрес: отсутствует' %}</p>
        <p> {% trans 'Наш офис: отсутствует' %}</p>
        <p> {% trans 'Телефон: 8 001 56 57 58'%}</p>
        <p> {% trans 'Эл.почта: jhon_doe@email.com' %}</p>
    </div>
</aside>

{% endblock %}
