<!DOCTYPE html>
{% load static %}
{% load bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% load i18n %}

<link rel="icon" href="{% static 'favicon.ico' %}" />
<link rel="stylesheet" href="{% static 'main/css/style.css' %}" />

<head>
    <title>{% block title %} {% endblock %}</title>
</head>

<html> 
<body>
    <div class="container">
        <div class="body">
            <div class="row margins10">
                {% include 'main/header.html' %}
            </div>
            <div class="row" style="display: flex;">
                    <div class="col-3">
                        <aside class="sticky">
                            {% block navbar %} 
                            {% include 'main/navbar.html' %}
                            {% endblock %}
                        </aside>
                    </div>
                    <div class="col-9">
                        {% block body %} {% endblock %}
                    </div>
            </div>
            <!-- <div class="row margins10"> -->
                <!-- {% include 'main/foot.html' %} -->
            <!-- </div> -->
        </div>
    </div>
</body>
</html>


