{% extends 'main/base.html' %}
<head>
    <title>{% block title %}news page{% endblock %}</title>
</head>
<body>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}" />
</body>

{% block body %} 

<h2> Приветствуем тебя, пользователь!</h2> <br>
<h3> Рады видеть тебя на Портале самых честных новостей.</h3> <br>
<h4> Тут всегда можно найти свежие новости на интересующие тебя темы.</h4> <br>
<p> Основное меню находится слева.</p>
<p> Ссылки в меню работают, перенаправляют на соответствующие страницы.</p>
<p> Некоторые страницы содержат описание того что и как они отборажают.</p>


{% endblock %}
