{% extends 'main/base.html' %}
{% load i18n %}
<head>
    <title>{% block title %} {% trans 'Домашняя страница' %}{% endblock %}</title>
</head>
<body>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}" />
</body>

{% block body %} 

<h2> {% trans 'Приветствуем тебя, пользователь!' %}</h2> <br>
<h3> {% trans 'Рады видеть тебя на Портале самых честных новостей' %}.</h3> <br>
<h4> {% trans 'Тут всегда можно найти свежие новости на интересующие тебя темы' %}.</h4> <br>
<p> {% trans 'Основное меню находится слева' %}.</p>
<p> {% trans 'Ссылки в меню работают, перенаправляют на соответствующие страницы' %}.</p>


{% endblock %}
