
{% load static %}
{% load bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% load users_extras %}

{% block body%}
{% load i18n %}

<link rel="stylesheet" href="{% static 'main/css/style.css' %}" />

<script src="https://kit.fontawesome.com/a97047fead.js" crossorigin="anonymous"></script>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
<!--скрипты ниже для работы выпадающего меню пользователя-->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"> </script>
<!-- jQuery UI !-->
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

<script>
    $(function() {
      $("#search_input").autocomplete({
        source: "{% url 'search_news_auto' %}",
        select: function (event, ui) { //item selected
          AutoCompleteSelectHandler(event, ui)
        },
        minLength: 2,
      });
    });
    function AutoCompleteSelectHandler(event, ui)
    {
      var selectedObj = ui.item;
    }
</script>

<div class="navbar">
    <div class="row">
        <div class="col-4 content_center">
            <div>
              <img alt="Иконка меню" class="img-fluid" src="{% static 'main/img/site-logo.png' %}" style="max-width:60px;max-height:60px"/>
            </div>
        </div>
        <div class="col-8 content_center">
            <div>
              <h4 class="content-to-hide">{% trans 'Меню сайта' %}</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
        <hr>                  
            <ul class="dropdown default-dropdown">
              
              <form method="post" action="{% url 'selectlanguage' %}">
                  {% csrf_token %}
                  <select name="language" onchange="submit()">
                      {% get_current_language as LANGUAGE_CODE %}
                      {% get_available_languages as LANGUAGES %}
                      {% get_language_info_list for LANGUAGES as languages %}
                      {% for language in languages %}
                      <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                          {{ language.name_local }} ({{language.code }})
                      </option>
                      {% endfor %}
                  </select>
              </form>
            </ul>
        <hr>     
            <div class="text-left mb-3">
                <a href="{% url 'main' %}" class="btn btn-light" role="button">
                <img src="{% static 'main/img/icon-home.png' %}" alt="Иконка домашней страницы" class="navbaricons"> 
                <span class="content-to-hide">{% trans 'Домашняя страница' %}</span></a>
            </div>
            <div class="text-left mb-3">
                <a href="{% url 'news' %}"  class="btn btn-light" role="button">
                <img src="{% static 'main/img/icon-news-reader.png' %}" alt="Иконка просмотра новостей" class="navbaricons">
                <span class="content-to-hide">{% trans 'Все новости' %}</span></a> 
            </div>
            <!-- Был редирект на страницу логина, но переделал кнопку в disabled -->
            <!-- {% if request.user.id %} {% endif %} -->
            {% if request.user|has_group:"Admins" %}
                <div class="text-left mb-3">
                    <a href="{% url 'create_article' %}" class="btn btn-light" role="button">
                    <img src="{% static 'main/img/icon-create-article.png' %}" alt="Иконка создания новости" class="navbaricons">
                    <span class="content-to-hide">{% trans 'Предложить новость' %}</span></a>
                </div>
            {% elif request.user|has_group:"Authors" %}
              <div class="text-left mb-3">
                  <a href="{% url 'create_article' %}" class="btn btn-light" role="button">
                  <img src="{% static 'main/img/icon-create-article.png' %}" alt="Иконка создания новости" class="navbaricons">
                  <span class="content-to-hide">{% trans 'Предложить новость' %}</span></a>
              </div>
            {% else %}
              <div class="text-left mb-3">
                <a href="{% url 'login' %}" class="btn btn-light disabled" role="button" disabled>
                <img src="{% static 'main/img/icon-create-article.png' %}" alt="Иконка создания новости" class="navbaricons">
                <span class="content-to-hide">{% trans 'Предложить новость' %}</span></a>
              </div>
            {% endif %}
            <div class="text-left mb-3">
                <a href="{% url 'about' %}" class="btn btn-light" role="button">
                    <img src="{% static 'main/img/icon-about-us.png' %}" alt="Иконка просмотра новостей" class="navbaricons"> 
                    <span class="content-to-hide">{% trans 'О нас' %}</span></a>
            </div>
            <div class="text-left mb-3">
                <a href="{% url 'contact_page' %}" class="btn btn-light" role="button">
                    <img src="{% static 'main/img/icon-send-mail.png' %}" alt="Иконка письма" class="navbaricons">
                    <span class="content-to-hide">{% trans 'Написать нам' %}</span></a>
            </div>
            <hr>
            <div class="text-left mb-3">
              {% if request.user.id %}  <!-- проверяем аутентификацию-->
                <div class="dropdown text-left mb-3">
                  <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {% if request.user.account.account_image.url %}
                      <img src="{{ request.user.account.account_image.url }}" alt="userpic" class="navbaricons">
                    {% else %}  
                      <img src="{% static 'main/img/no-camera.png' %}" alt="userpic" class="navbaricons">
                    {% endif %}
                    {{ request.user.username }}
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'profile' %}"><img src="{% static 'main/img/user-account_icon.png' %}" alt="Иконка аккаунта пользователя" class="navbaricons">{% trans 'Мой аккаунт' %}</a></li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}"><img src="{% static 'main/img/user-logout.png' %}" alt="Иконка выхода" class="navbaricons">{% trans 'Выход' %}</a></li>
                  </ul>
                </div>
              {% else %}
                <div class="text-left mb-3">
                  <a href="{% url 'login' %}" class="btn btn-light" role="button">
                  <img src="{% static 'main/img/login_picture.png' %}" alt="Иконка входа" class="navbaricons">
                  <span class="content-to-hide">{% trans 'Вход' %}</span></a>
                </div>
                <div class="text-left mb-3"> 
                  <a href="{% url 'registration' %}" class="btn btn-light" role="button">
                  <img src="{% static 'main/img/circle-pad-finger.png' %}" alt="Иконка регистрации" class="navbaricons">
                  <span class="content-to-hide">{% trans 'Регистрация' %}</span></a>      
                </div>
              {% endif %}
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="row">
          <form action="{% url 'search' %}" method="post">
            {% csrf_token %}
              <div class="search ">
                  <input id="search_input" name="search_input" class="rounded w-75">
                  <button type="submit" class="btn btn-light"><i class="fas fa-search"></i></button>
              </div>
          </form>
        </div>
    </div>

    

    <br >
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                  {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    </div>
</div>

{% endblock %}