<!DOCTYPE html>
{% load static %}
{% load bootstrap5 %}

<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link rel="stylesheet" href="{% static 'main/css/style.css' %}" />
  <title>newspage</title>
      
</head>
<body>
    {% for article in articles %}
    <div class="card" style="background-color:#f5f5f5">
        <div class="container-fluid" style="border:1px solid #cecece;">
            <img class="card-img-top" src="{% static 'main/img/news_pict_world.jpg' %}" alt="Мировые новости" style="width:200px;height:auto"> 
            <div class="card-body">
                <h3> {{ article.title }}  </h3>
                <p1> Опубликовано {{ article.date }} </p1> <br>
                <p1> Изменено {{ article.date_change }} </p1> <br>
                <p1> {{ article.anouncement }} </p1> <br>
                <a href="{{ article.get_absolute_url }}">Читать новость</a>
            </div>
        </div>
    </div>
    {% endfor %}
</body>
</html>
