<!DOCTYPE html>
{% load static %}
{% load bootstrap5 %}

<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link rel="stylesheet" href="{% static 'main/css/style.css' %}" />
  <title>newspage</title>
      
</head>

<body>
    <div class="row">
        <div class="container-fluid">

				<div class="row">
					<div class="col">
						{% for article in Article %}
						<div class="card">
							<img class="card-img-top" src="{% static 'main/img/news_pict_world.jpg' %}" alt="Мировые новости"> 
							<div class="card-body">
								<h3> {{ article.title }} </h3>
								<p1> Опубликовано {{article.date}} </p1> <br>
								<p1> Изменено {{article.date_change}} </p1> <br>
								<p1> {{article.anouncement}} </p1> <br>
								<a href="{{article.get_absolute_url}}">Читать новость</a>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			
        </div>
    </div>
</body>
</html>