{% extends 'main/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load i18n %}

{% block title %} {% trans 'Мои новости' %} {% endblock %}
{% block navbar %} {% include 'users/user_panel.html' %} {% endblock %}

{% load users_extras %}

<link rel="stylesheet" href="{% static 'main/css/style.css' %}" />

{% block body %}
        {% for article in articles %}
            <div class="card border-light rounded-8 mb-3" style="max-width: 100rem; background-color: #f8f9fa; border-color: gray-300">
                <div class="row g-0">
                    <div class="col-md-4 content_center">
                        <img src="{{ article.image_set.all.0.image.url }}" class="img-fluid rounded-start" alt="Картинка к новости">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="{{ article.title }}">{{ article.title }} </h5>
                            <h6 class="card-subtitle mb-2 content_justify lh-sm" style="text-align: justify;">{{ article.anouncement }}</h6>
                            <p class="card-text"><a href="{% url 'news_detail' article.pk %}">{% trans 'Читать новость' %}</a></p>
                            <p class="card-text"><small class="text-muted">{% trans 'Опубликовано' %}: {{ article.date }}   {% trans 'Изменено' %}: {{ article.date_change }}</small></p>
                            <p class="card-text"><small class="text-muted">{% trans 'Теги' %}: {% for t in article.tags.all %} {{ t.title }} {% endfor %}</small></p>
                            <p class="card-text"><small class="text-muted">{% trans 'Просмотров' %}: {{ article.get_views }} </small></p>
                            <a class="btn btn-outline-success" href="{% url 'favorites' article.pk %}"><img src="{% static 'main/img/icon-my-favorite.png' %}" alt="В избранное" class="navbaricons"> В избранное</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
{% endblock %}