/* body {
  background-color: #cacaca;
} */

.headfoot {
  background-color: #8ce085;
  color: #2f662b;
  text-align: center;
}

.navbar {
  background-color: #b9b9b9;
  padding: 5px;
}

.anyblock {
  background-color: #777777;
}

.breaking {
  color: #a71900;
  font-style: normal;
  font-size: x-large;
}

.regional {
  color: DarkBlue;
  font-style: oblique;
}

#breaking2 {
  color: #a71900;
  font-style: normal;
  font-size: x-large;
}

#regional2 {
  color: DarkBlue;
  font-style: oblique;
}

aside {
  width: 70%;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  float: right;
  box-shadow: inset 5px 0 5px -5px #29627e;
  font-style: italic;
  color: #29627e;
}

aside > p {
  margin: 0.5rem;
}

/* 
.wraptocenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 200px;
  height: 200px;
  background-color: #999;
}
.wraptocenter * {
  vertical-align: middle;
} */

@media (max-width: 767px) {                  
  .content-to-hide {
     display: none;
  }
}