/* body {
  background-color: #cacaca;
} */

.headfoot {
  background-color: #8ce085;
  color: #2f662b;
  text-align: center;
}

.navbar {
  position: sticky;
  align-content: flex-start;
  background-color: #f8f9fa;
  padding-right: 10px;
  padding-left: 10px;
  min-height: calc(100vh - 50px);
}

#navbar_ul {
  /* li ul li a { */
  list-style-type: none;
  text-decoration: none;
  padding: 3px;
  text-align: center;
}

.sticky {
  position: sticky;
  top: 10px;
}

/* aside { */
  /* width: 70%; */
  /* padding-left: 0.5rem; */
  /* margin-left: 0.5rem; */
  /* float: right; */
  /* box-shadow: inset 5px 0 5px -5px #29627e; */
  /* font-style: italic; */
  /* color: #29627e; */
  /* position: sticky; */
/* } */

/* aside > p { */
  /* margin: 0.5rem; */
/* } */

.margins10 {
  margin: 10px;
}

.margins5 {
  margin: 5px;
}

.margin_bottom_1_5 {
  /* margin-bottom:1.5rem; */
  margin-bottom:5px;
}

.margin_left {
  /* margin-bottom:1.5rem; */
  margin-left:5px;
}

.paddings5 {
  padding: 5px;
}

.borders5 {
  border: 9px;
}

.contact_form{
  margin: 10px 5%;
}

.link-active {
  color: #0D6EFD;
}

.anyblock {
  background-color: #777777;
}

.wraptocenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.wraptocenterleft {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
}

.navbaricons {
  text-align: center;
  vertical-align: middle;
  width:32px;
  height:auto
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}

.content_center {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.content_center_left {
  display: flex;
  align-items: left;
  flex-wrap: wrap;
  vertical-align: middle;
}

.content_justify {
  display: flex;
  justify-content: space-between;
  white-space: pre-wrap;
  flex-wrap: wrap;
}



@media (max-width: 1200px) {                  
  .content-to-hide {
     display: none;
  }
}

